# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# VITE_OPENWEATHER_API_KEY: Required for OpenWeather API calls.
VITE_OPENWEATHER_API_KEY=""

# SUPABASE_URL: Your Supabase Project URL
SUPABASE_URL=""

# SUPABASE_KEY: Your Supabase Service Role Key
SUPABASE_KEY=""

# FCM_SERVER_KEY: Your Firebase Cloud Messaging Server Key
FCM_SERVER_KEY=""

# APP_URL: Automatically injected at runtime
APP_URL="http://localhost:3000"
